.home-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .options-container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    h1 {
      margin: 1vw;
    }

    select {
      font-size: 6vw;
    }
  }

  .map-container {
    margin: 4vw;
    width: 95vw;
    height: 70%;
  }
}

@media (min-aspect-ratio: 10/9) {
  .home-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  
    .options-container {
      width: 30vw;
      display: flex;
      flex-direction: column;
  
      select {
        font-size: 2vw;
      }
    }
  
    .map-container {
      width: 50vw;
      height: 90%;
    }
  }
}